@CHARSET "UTF-8";
body {
	font-family: "Meiryo","ＭＳ Ｐゴシック",sans-serif;
	font-size:10px;
}
h1{
	/*color		:	blue;*/
	font-size: 17px;
}
h2{
	font-size: 14px;
	background-color:#64B5D7;
}
p.input {
	height:20px;
}
input {
	font-size:10px;
}
span.inputLabel {
	width:70px;
}
span.input {
	position:relative;
	left:10px;
}
th {
	font-size: 10px;
	vertical-align: middle;
}
td {
	font-size: 10px;
	height:24px;
	vertical-align: middle;
}
#error_msg {
	color	:red;
}
#header_field {
	float:left;
	width:150px;
	height:420px;
	/*border-right: 2px solid #777777;*/
	margin-right: 10px;
	/*background-color:#1e90ff;*/
	background: linear-gradient(-270deg, #1e90ff, #FFFFFF);
	z-index:10;
}
#main_field {
	float:right;
	position:absolute;
	top:8px;
	left:180px;
	width:600px;
	height:420px;
	z-index:0;
}
#pager_and_dataChangeButtons {

	margin-bottom:10px;
}
#pager {
	margin-left:20px;
}
#dataChangeButtons {
	position:relative;
	left:30px;
	margin-right:20px;
}

/*全体のエリア*/
#all_area {
	width:590px;

}

#Absolutely{
	color	: green;
}

/*固定するタイトル*/
#titleXYBlockTable{
	float:left;
	table-layout: fixed;
}
/*データが0件だった場合の左上テーブルの表示*/
#titleZeroXYBlockTable {
    float: left;
    table-layout: fixed;
	border-collapse: separate;
    border-spacing: 1.1px;
}

/*横スクロールする部分のタイトル*/
#titleXBlock {
	float:left;
	width: 450px;
	overflow-x: hidden; /* 横スクロールはJavaScriptで */
	overflow-y: hidden;
}
#titleXzeroXYBlock {
	float:left;
	height: 25px;
	border: 1;
	overflow-x: hidden;
	overflow-y: hidden;
}
/*検索結果なしのタイトル画面*/
#titleXzeroBlock {
	float:left;
	width: 455px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#titleXBlockTable {
	width: 1170px;
	table-layout: fixed;
}
/*縦スクロールする部分のタイトル*/
#dataYBlock {
	float:left;
	height:200px;
	overflow-x: hidden; /* 縦スクロールはJavaScriptで */
	overflow-y: hidden;
}
#dataYBlockTable {
	table-layout: fixed;
}

/* 縦横スクロールするデータ部分 */
#dataXBlock {
	float:left;
	width: 468px;
	height:217px;
	overflow-x: scroll;
	overflow-y: scroll;
}
#dataXBlockTable {
	width: 1170px;
	table-layout: fixed;
}
div.tableColumn {
	white-space: nowrap;
	overflow:hidden;
	width: 100%;
	height: 22px;
	line-height: 22px;
}

div.leaderTable{
	white-space: nowrap;
	overflow:hidden;
	width: 100%;
	height: 100%;
	line-height: 50%S;
}
/*
div.button {
	text-align: left;
	float: left;
}
*/

div.link {
	text-align: right;
}

table.tableFontSize {
	font-size : 10px;
	vertical-align: middle;
}

tr:nth-child(2n){
	background: #58ACFA;
}

tr:nth-child(2n-1){
	background: #A9E2F3;
}

/*先頭行の左側に色をつけない*/
#titleXYBlockTable tr:first-child,#titleXYBlockTable th:first-child {
	background: #FFFFFF;
}

/*先頭行の右側に色をつけない*/
#titleXBlock tr:first-child,#titleXBlock th:first-child{
	background: #FFFFFF;
}

.shozoku_List tr:hover {
	background: #2EFEF7;
}



/*所属一覧の先頭行に色をつけない*/
.shozoku_ListTitle tr:first-child,.shozoku_ListTitle th:first-child{
	background: #FFFFFF;
}

#titleXBlockTable tr:first-child,#titleXBlockTable th:first-child{
	background: #FFFFFF;
}

#titleZeroXYBlockTable tr:first-child,#titleZeroXYBlockTable th:first-child{
	background: #FFFFFF;
}

#dateBlock {
	float: left;
	width: 435px;
	height:290px;
	overflow-y: scroll;

}

.LeaderSelect tr:hover{
	background: #2EFEF7;
}


.LeaderSelect tr:first-child,.LeaderSelect th:first-child{
	background: #FFFFFF;
}


.LeaderSelect {
	width: 250px;
	table-layout:fixed;
	white-space: nowrap;
	overflow:hidden;
}


.LeaderDiv {
	padding-right:40px;
}


#csvbutton{
	float:right;
	padding-right: 20px;
}